/* Style for the header */
h1, h2 {
  text-align: center;
}

/* Style for the buttons */
button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-right: 47%; */
  margin-top: 30px;
}

/* Style for the create user form */
#create-user-form {
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 20px;
}

input[type="text"], input[type="number"] {
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Style for the save button */
#save-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:280px;
}
.button{
	margin-left:500px;
}
#create-user-form{
		margin-left:400px;
}
#role{
  width: 250px;
}